<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Grader{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}?v=1.1">
</head>
<body>
    <div class="sidebar">
        <a href="{% url 'submit_grading_request' %}">Submit Grade</a>
        <a href="{% url 'upload_criteria' %}">Upload Criteria</a>
        <a href="{% url 'view_grades' %}">View Grades</a>
        <a href="{% url 'submission_list' %}">Submission History</a>
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
